* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.badge {
    background-color: rgba(0, 0, 250, 0.5);
    text-align: center;
    color: white;
    border-radius: 25px;
    height: 200px;
    width: 200px;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.badge:hover {
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}